@import url('./reset.css');

* {
  color: white;
  
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2)), url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 605px;
  padding-top: 6vh;
  border-bottom: 1px solid #33A8DB80;
  background-color: black;
}

.banner .banner-content {
  width: 600px;
  margin: auto;
  text-align: center;
}

.logo {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}

h1 {
  padding-top: 2vh;
  font-size: 2.5rem;
  font-weight: 900;
}

h1, h2 {
  background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.banner-content>p {
  font-size: 1.25rem;
  margin: 1rem 0 1.5rem;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  background: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
  -webkit-background-clip: text;
  color: transparent;
  border: 2px solid black;
  border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
  border-image-slice: 10;
  padding: 1rem 2rem;
  cursor: pointer;
}

main{
  background-color: black;
  text-align: center;
  padding-top: 10vh;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}

#course-content {
  max-width: 45vw;
  margin: auto;
  margin-bottom: 12vh;
}

#course-content h2 {
  margin-bottom: 2vh;
}

#course-content>p {
  margin-bottom: 2vh;
}

#course-content span {
  color: #33A8DB;
}

.module {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  border: 1px solid #33A8DB;
  width: 25vw;
  height: 5vh;
  margin: auto;
  margin-bottom: 2vh;
  border-radius: 2.5vh;
  box-shadow: -2px 6px 4px 0px #00000066 inset;
}

#transform-world {
  height: 560px;
  background-image: url(../images/woman-code.png);
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #33A8DB;
  border-bottom: 1px solid #33A8DB;
  margin-bottom: 10vh;
}

#transform-world p {
  text-align: left;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 3px 2px #33A8DB;
  width: 13vw;
  padding: 20vh 10vw;
}

#professional-challenges {
  width: 750px;
  margin: auto;
  padding-bottom: 8vh;
}

#professional-challenges h2, img {
  margin-bottom: 2vh;
}

#professional-challenges p {
  font-size: 1rem;
  width: 792px;
  font-weight: 400;
  margin-bottom: 2vh;
}

footer {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2));
  border-top: 1px solid #33A8DB;
  padding: 7vh 0 5vh;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #33A8DB;
  font-weight: 700;
}





