@import url('./reset.css');

header {
  padding-top: 5vh;
  text-align: center;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2)), url('../images/banner.png');
  background-size: cover;
  height: 605px;
}

.logo {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 270px;
  border-radius: 50%;
}

